* {
    padding: 0px;
    margin: 0;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

:root {
    --pink: pink; 
}

body {
 background-color: var(--pink);
 color: white;
}

.container {
    display: flex;
}

.left-div {
    text-align: center;
    width: 500px;
    display: flex;
    flex-direction: column;
    
    height: 100%;
}

#logo-div img {
    width: 200px;
}


#search-div {
    display: flex;
    justify-content: center;
    align-items: center;
}


#filter-div {
    display: flex;
    flex-direction: column;
}

#maxReadyTimeInput, #recipeInput {
    /* width: 500px; */
    padding: 8px;
}

#dietInput {
    /* width: 520px; */
    padding: 7px; 
}

#dietInput, #maxReadyTimeInput, #recipeInput {
    border-radius: 10px;
    font-size: 20px;
    margin: 8px;
    border: 2px dashed white;
}

#searchBtn {
    margin-left: 20px;
    height: 120px;
    width: 120px;
}

