* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --pink: pink; 
}

body {
 background-color: var(--pink);
 color: white;
}

#search-div {
    display: flex;
    margin: 0 25%;
}

h1 {
    text-align:center;
    font-size: 100px;
    margin-top: 20%;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding-left: 10px;
    border-radius: 10px;
    font-size: 20px;
}

button {
    background-color: none;
    border: none;;
}

#searchBtn {
    height: 60px;
    width: 60px;
}