* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --pink: pink; 
}

body {
 background-color: var(--pink);
 color: white;
}

h1 {
    text-align:center;
    font-size: 100px;
    margin-top: 12%;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px #000000;
}

#search-div {
    display: flex;
    justify-content: center;
    align-items: center;
}


#filter-div {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-top: 5px;
}

#maxReadyTimeInput, #recipeInput {
    width: 500px;
    padding: 8px;
}

#dietInput {
    width: 520px;
    padding: 7px; 
}

#dietInput, #maxReadyTimeInput, #recipeInput {
    border-radius: 10px;
    font-size: 20px;
    margin: 8px;
    border: 2px dashed white;
}

#searchBtn {
    margin-left: 35px;
    height: 90px;
    width: 90px;
}